body {
    background-color: #1c1c1c;
    color: grey;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.root {
    text-align: center;
    border: 2px solid gray;
    padding: 20px;
    height: 300px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.horizontal_buttons, .horizontal_buttons button {
    margin-left: 20px;
    margin-right: 20px;
    background-color: gray;
    border: none;
    padding: 4px 10px;
    font-size: 16px;
}
button.horizontal_buttons:hover, .horizontal_buttons button:hover {
    background-color: #494949;
}
.error {
    color: red;
}
